.thumbnail {
    width: 300px;
    display: block;
}

.searchbar {
    display: block;
}

.video-title {
    width: 300px;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}